.title {
  font-size: 1.1em;
}

.container {
  width: 250px;
}

.imageContainer {
  position: relative;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hover:hover {
  filter: brightness(0.5);
}

.pattern {
  background-color: #ffffff;
  opacity: 0.9;
  background-image: linear-gradient(
      135deg,
      #444cf7 25%,
      transparent 25%
    ),
    linear-gradient(225deg, #444cf7 25%, transparent 25%),
    linear-gradient(45deg, #444cf7 25%, transparent 25%),
    linear-gradient(315deg, #444cf7 25%, #ffffff 25%);
  background-position: 6px 0, 6px 0, 0 0, 0 0;
  background-size: 12px 12px;
  background-repeat: repeat;
}
